body
{
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
}
.container{
    width: 100%;
    height: 100%;
}

.hello{
    color: red;
}

.item{
    position: relative;
    overflow: hidden;
   
}
.item2{
    height: 100%;
    width: 100%;
    position: absolute;
    top:100%;
    background:rgba(255,255,255,.7);
    text-align: center;
    transition: 1s;

}
.item2 h3{
    margin-top: 30%;
}
.item:hover .item2{
    top: 0;
    
}
.item2 h3, .item2 p{
    color: black;
    font-weight: bold;
}
@media(min-width:767px) and (max-width:991px){
    .item2 h3{
        font-size: 18px !important;
        font-weight: bold;
        margin-top: 10%;
        
    }
}
@media(min-width:992px) and (max-width:1290px){
    .item2 h3{
        font-size: 18px !important;
        font-weight: bold;
        margin-top: 10%;
        
    }
}
@media(min-width:767px) and (max-width:991px){
    .item2 p{
        font-size: 7px !important;
        
        
    }
}
@media(min-width:992px) and (max-width:1290px){
    .item2 p{
        font-size: 12px !important;
     
        
    }
}
.ColorContainer
{
    position: fixed;
    z-index: 3673;
    height: 100%;
    top: 0%;
    left: -270px;
}
.bgg{
   position: fixed;
   
   left: 0%;
   font-size: 30px;
   color: white;
   height: 100%;
   width: 70px;
   background-color: transparent;
}

.bgg i{
  position: absolute;
  top:50%;
  margin-left: 10px;
}
/* @media(max-width:1024px){
    .bgg i
    {
    top:24%
    }
} */
@media(max-width:414px){
    .bgg i
    {
    top:40%
    }
}

.ColorContainer ul li
{
   
   
    
    
    cursor: pointer;
    

}

.colorOption
{
    background:white;
    position: fixed;
    
    width: 20%;
    height: 100%;
    float: left;
    color: black;
   
}

.ColorContainer i
{
    cursor: pointer;

   
}

/* a:hover{
    color: red;
    transition: 1s;
} */
.icon{
    position: absolute;
    top: 50px;
    right: 25px;
    font-size: 20px;
    color: white;
}

a{
    color: black;
    font-weight: bold;
  
}
a:hover{
    color: red !important;
}
.ul22{
    margin: 50px;
    
}
@media(max-width:414px){
    .ul22{
        margin: 4px;
        
    }
}
.ul22 li{
    margin-top: 30px;
    font-size: 30px;
}

.colorOption li{
    padding-top: 500px;
    opacity: 0;
}
.con h1{
    color: white;
   /* padding-bottom: 8px; */
   text-align: center;
   margin-top: 46px;
}
.form22{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 100%;
    text-align: center;
   
}
/* @media(min-width:1200px) and (max-width:1290px){
    .form22{
        margin-left: 35px;
    }
}
@media(min-width:610px) and (max-width:767px){
    .form22{
        margin-left: 28px;
    }
}
@media(min-width:992px) and (max-width:1111px){
    .form22{
        margin-left: 22px;
       
    }
} */

.form-control .placeholder{
    color: tomato;
}
.colorr{
    background: transparent;
    border: solid 1px red;
    border-radius: 8px;
    margin-top: 20px;
    color: red;
    padding: 6 50px;
    display: flex;
}
.colorr:hover{
    color: white;
    background-color: red;
    transition: 0.5s;
}

.icon5{
    position: absolute;
    bottom: 50px;
    left: 20px;
    
}
.icon5 i{
    padding: 10px;
}
.icon5 i:hover{
    color: red;
}

.ic{
    position: absolute;
    bottom: 20px;
    left:50%;
    transform:translate(-50%);
    z-index: 5577;
    font-size: 13px;
}
.ic div
{
    padding-top: 10px;
}
.bgg .fas.fa-globe , .bgg .fas.fa-share-alt{
        position: relative;
        top: unset;
        margin-left: unset;

}
.colorOption a
{
    font-size: 20px;
}
@media(max-width:414px){
    .colorOption a
    {
        font-size: 12px;
    }
}

.err{
color: red;
   
}
input{
    background-color: black!important;
    color: white!important;
}
textarea{
    background-color: black!important;
    color: white!important;
    
}
textarea.form-control{
    height: 100px;
   
}
button{
    margin:auto
}
.form-control:focus{
    border: unset !important;
    outline: unset !important;
    box-shadow: unset !important;
}
@media(min-width:1200px) and (max-width:1290px){
    .hell{
        padding-left: 73px;

    }
}
@media(max-width:1111px){
    .hell{
        padding-left: 73px;
      
    }
}
@media(max-width:700px){
    .hell{
        padding-left: 67px;
    }
}
@media(max-width:575px){
    .hell{
        padding-left: 90px;
    }
}
@media(max-width:414px){
    .hell{
        padding-left: 40px;
    }
}
ul.active{
    
}